
<div class="container height">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row" >
          <div class="col-9 mt-5 p-5">
            <div class="row">
              <h1 class="hidding-offer" style="color:aliceblue">
                You Cancelled Your order :()
              </h1>
              <a class="btn btn-danger mt-5" href="/restaurants">Show all Restuarants</a>
              <a class="btn btn-dark mt-2" href ="/"> Back to home</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  