<div class="container-fluied bg-img mb-3 font">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12 p-5">
          <div class="row justify-content-center text-center">
            <img [src]="restaurant.storeImg  || 'assets/Burger.jpg'" class="img-Restaurant">

            <h1 class="hidding-offer text-capitalize">
              {{ restaurant.name }}
            </h1>
            <p class="text-center">
              {{ restaurant.description }}
            </p>
            <div class="row justify-content-center">
              <div class="col-6">
                <ngb-rating [max]="5" [rate]="restaurant.totalRatings/restaurant.numOfRaters"
                  [readonly]="true"></ngb-rating>
                <h2>Rating from {{restaurant.numOfRaters}} users</h2>
              </div>
            </div>
            <p *ngIf="ratingSubmitted" class="alert">Rating submitted successfully!</p>
            <p *ngIf="ratingSubmitted" class="alert">Rating submitted successfully!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-3" *ngIf="cartshowing">
    <h2 class="hidding-offer" style="color:aliceblue">Menu Served</h2>
    <div class="row">
      <div *ngFor="let m of menus" class="col-3 d-flex justify-content-center">
        <div class="offer-cards mt-2 mb-2">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <img src={{m.menuItemImg}} alt="Image" class="imgoffer" />
            </div>
          </div>
          <div class="row justify-content-center h-hidding">
            <div class="col-12 text-center">
              <h1 class="ff pt-3 pl-2 pr-2">
                {{ m.name }}
              </h1>
            </div>
          </div>
          <div class="row justify-content-center h-desc">
            <div class="col-12 text-center">
              <p class="pl-3 pr-3">{{m.description}}</p>
            </div>
          </div>
          <div class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3">
            <div class="col-3">
              <h3>{{m.price}} LE</h3>
            </div>
            <div class="col-2 mt-2">
              <button (click)="addToCart(m.id)" class="btnn hvr-bounce-in">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-3" *ngIf="!cartshowing">
    <h2 class="hidding-offer" style="color:aliceblue">Menu Served</h2>
    <div class="col-7">
      <div class="row">
        <div *ngFor="let m of menus" class="col-4 d-flex justify-content-center">
          <div class="offer-cards mt-2 mb-2">
            <div class="row justify-content-center">
              <div class="col-12 text-center">
                <img src={{m.menuItemImg}} alt="Image" class="imgoffer" />
              </div>
            </div>
            <div class="row justify-content-center h-hidding">
              <div class="col-12 text-center">
                <h1 class="ff pt-3 pl-2 pr-2">
                  {{ m.name }}
                </h1>
              </div>
            </div>
            <div class="row justify-content-center h-desc">
              <div class="col-12 text-center">
                <p class="pl-3 pr-3">{{m.description}}</p>
              </div>
            </div>
            <div class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3">
              <div class="col-3">
                <h3>{{m.price}} LE</h3>
              </div>
              <div class="col-2 mt-2">
                <button (click)="addToCart(m.id)" class="btnn hvr-bounce-in">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-4">
        <!-- floating cart -->
        <div class="row justify-content-right cart-modal">
          <div class="col-lg-6">
            <div class="row bg-blak">
              <div class="col-8">
                <h3 class="text-white"> CART DETAILS </h3>
              </div>
              <div class="col-3 close-btn">
                <i class="fa-regular fa-rectangle-xmark" (click)="showcart()"></i>
              </div>
            </div>
            <hr>
            <!-- content from order -->
            <div class="row p-3 mt-1 mb-1 card-cart" *ngFor="let o of orders">
              <div class="col-4">
                <img src={{o.menuItemID.menuItemImg}} class="w-75 h-75" alt="">
              </div>
              <div class="col-4">
                {{ o.menuItemID.name}}
              </div>
              <div class="col-4">
                <h5> {{ o.menuItemID.price * o.quantity }}LE</h5>
              </div>
            </div>

            <hr>
            <div class="row p-3 mt-3">
              <div class="col-1"></div>
              <div class="col-3 mt-3">
                <button class="btnn" (click)="Clear()">Clear
                  <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                </button>
              </div>
              <div class="col-4"></div>
              <div class="col-3 mt-3">
                <button class="btnn" routerLink="/cart">Order
                  <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                </button>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="showcart()" class="btnn back-to-top" [hidden]="!cartshowing" [hidden]="isAtTop">Cart</button>