<div class="container-fluied bg-img mb-3 font">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12 p-5">
          <div class="row justify-content-center text-center">
              <img src="../../../assets/rr.jpeg" class="img-Restaurant">
              <h1 class="hidding-offer text-capitalize ">el maamon restaurant</h1>
              <p class="text-center">
                El Maamon is a restaurant located in Egypt, serving a
                selection of Beverages, Juices, Desserts that delivers across
                Almazah, Ard El Golf, Ard El Golf 2, Heliopolis - Baron and
                Heliopolis - El Horreya. Thier best selling dishes are Avocado
                With Vanilla And Milk Juice and Dates With Milk And Honey,
                although they have a variety of dishes and meals to choose
                from like Beverages, Juices, Desserts. They have been reviewed
                1436 times by talabat users, with a rating of 4.5.
              </p>
              <a href="" class="btnn mb-5">Show Menu</a>
              <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search Another Restaurant"
                />
                <span class="input-group-text border-0" id="search-addon">
  
                </span>
              </div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5 mb-3">
      <div class="container">
        <h2 class="hidding-offer">All Menu Items</h2>
          <app-menuserved></app-menuserved>
        </div>
      </div>
    </div>
<!-- 
<div class="container">
  <app-feedback></app-feedback>
</div> -->