
.mb-3,.remain{
  color: rgb(189, 85, 24);
}
.hidding-offer{
  font-family: 'Abril Fatface', serif;
  font-size: 20px;  
  
}
.hidding-offerr{
  font-family: 'Abril Fatface', serif;
  font-size: 40px;  
}
.font{
  font-family: 'Libre Baskerville', serif;
}
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-trans {
  backdrop-filter: blur(20px) saturate(105%);
  -webkit-backdrop-filter: blur(20px) saturate(105%);
  background-color: rgba(255, 255, 255, 0.42);
  border: 1px solid rgba(249, 249, 249, 0.3);
}
.btnn {
  background-color: rgb(233, 107, 34);
  color: rgb(251, 250, 247);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 7px 12px 7px 12px;
  border: 1px solid white;
  text-decoration: none;
}

.btnn:hover {
  background-color: rgb(58, 24, 5);
  color: rgb(251, 250, 247);
  text-decoration: none;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 7px 12px 7px 12px;
  border: 1px solid rgb(125, 33, 33);
}

.uploadimg{
  width: 400px;
  position: relative;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}
.uploadimg img{
  border-radius: 10px;
}
.uploadimg .add{
  color: rgb(241, 239, 239);
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 50px;
  overflow: hidden;
  text-align: center;
}

.uploadimg .add input[type='file']{
  position: absolute;
  opacity: 0;
}

input[type='file']::-webkit-file-upload-button{
cursor: pointer;
}

.validateerrorstyle{
  color: rgb(151, 6, 6); backdrop-filter: blur(20px) saturate(105%);
  -webkit-backdrop-filter: blur(20px) saturate(105%);
  background-color: rgba(255, 255, 255, 0.42);
  border-radius: 12px;
  padding: 4px;
  font-style: oblique;
}

.cart-img{
width: 200px;
height:200px;
border-radius: 15px;

}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
border-radius: 20px;
margin-top: 50px;

}
.w{
width: 200px;
text-align: center;
}
th{
background-color: #8e2d03;
color: wheat;
}
td, th {
/* border: 1px solid #ef4800; */
border-radius: 15px;
padding: 8px;
}

.btn-delete{
  background-color: antiquewhite;
  height: 80px;
  border: 1px solid white;
  color: rgb(98, 7, 7);
  font-size: 40px;
  border-radius: 15px;
  width: 50px;
}
.cart-card{
  background-color: antiquewhite;
  background: #eee;
  padding: 20px;
  box-shadow: 0 8px 8px -4px rgb(245, 222, 187);
}

.quan{
  margin-top: 20px;
  height: 130px;
  padding: 2px;
  font-size: 30px;
  text-align: center;
  /* background: #dedada; */
  /* border: 1px solid rgb(221, 218, 218); */
  border-radius: 15px;
}
.btn-quan{
  border: none;
  /* font-size: 30px; */

}

.padding-payment{
  padding: 60px;
}
input[type=text] {
  width: 100%;
  background-color: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(222, 96, 6);
}

ngb-rating {
  color: #FFC107;
  font-size: 80px;
}