<div class="container-fluid bg-img">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <table class="table">
            <tr>
              <th>Item Image</th>
              <th>Item name</th>
              <th>Item category</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Delete</th>
            </tr>

            <ng-container *ngIf="order">
              <tr class="m-2">
                <td class="w">
                  <img src="../../../assets/Burger.jpg" class="cart-img" alt="">
                </td>
                <td>{{ order.menuItemID.name }}</td>
                <td>{{ order.menuItemID.categoryID }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.menuItemID.price }}$</td>
                <td><a (click)="removefromCart()">Delete</a></td>
              </tr>
            </ng-container>

            <tr class="m-2 p-5">
              <td class="w">
                <img src="../../../assets/Healthy.jpg" class="cart-img" alt="">
              </td>
              <td>Burger</td>
              <td>Fast food</td>
              <td>3</td>
              <td>200$</td>
              <td>Delete</td>
            </tr>
            <tr class="mb-2">
              <td class="w">
                <img src="../../../assets/Burger.jpg" class="cart-img" alt="">
              </td>
              <td>Burger</td>
              <td>Fast food</td>
              <td>3</td>
              <td>200$</td>
              <td>Delete</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
