.imgoffer {
  width: 100%;
  height: 180px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.bg-img{
  background-image: url("../../../assets/Pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}
.tx {
  text-decoration: line-through;
}
.ff {
  font-size: 25px;
}
.bg-contain-stars {
  border: 1px solid rgb(206, 205, 202);
  width: 100%;
  border-radius: 15px;
  text-align: center;
  color: rgb(231, 152, 5);
  box-shadow: inset;
}
.btnn {
  background-color: rgb(233, 107, 34);
  color: rgb(251, 250, 247);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 10px 15px 10px 15px;
  border: 1px solid white;
  text-decoration: none;
}
.offer-cards {
  background-color: rgb(245, 228, 213);
  border: 1px solid rgb(232, 151, 1);
  border-radius: 15px;
transition: transform 0.5s;
}
.offer-cards:hover {
transform: scale(1.02);
}
.btnn:hover {
  background-color: rgb(58, 24, 5);
  color: rgb(251, 250, 247);
  text-decoration: none;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 10px 15px 10px 15px;
  border: 1px solid rgb(125, 33, 33);
}
.micons{
  margin: auto;
  width: 150px;
}
.edt{
  color: aliceblue;
}