<div class="container height">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Default div -->
        <div class="row" >
          <div class="col-9 mt-5 p-5">
            <div class="row">
              <h1 class="hidding-offer" style="color:aliceblue">
                Congraaats Your Order Will be Checked Soon 
              </h1>
            <a class="btn btn-dark mt-5" href ="/"> Back to home</a>
              <button class="btn btn-danger mt-2" (click)="cancelPeendingorder()">Cancel Order</button>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  