<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Felivery, is the Middle East's largest delivery platform, 
                where Delicious Food is Waiting For You with best offers.
            </p>            
            <p>
                Are you are Hungry?.. Just Order!
            </p>
        </section>
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Join Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/Partners" class="text-white">Partner</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Delivery</a>
                        </li>
                        <li>
                            <a href="/developer" class="text-white">Developer</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Cities</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Cairo</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Giza</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Tanta -In progress-</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->


                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Legal Stuff</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Refund Policy</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Follow Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                                <fa-icon [icon]="facebook"></fa-icon></a>
                        </li>
                        <li>
                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                                <fa-icon [icon]="twitter"></fa-icon>
                                </a>
                        </li>
                        <li>
                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                                <fa-icon [icon]="insta"></fa-icon>
                                </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">felivery</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->