<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container-fluied justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white">ِAdd new Category</h1>
          <form [formGroup]="addcat">
            <!-- category name -->
            <div class="mb-3">
              <label for="name" class="form-label">category Name</label>
              <input #categoryname formControlName="categoryname" type="text" placeholder="Enter category Name"
                class="form-control" id="name" aria-describedby="name" />
              <div *ngIf="addcat.controls.categoryname.errors">
                <div class="validateerrorstyle" *ngIf="
                      addcat.controls.categoryname.errors['minlength'] &&
                      addcat.controls.categoryname.touched">
                  category Name must be at least 5 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="
                      addcat.controls.categoryname.errors['maxlength'] &&
                      addcat.controls.categoryname.touched">category name can have at most 50 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="
                      addcat.controls.categoryname.errors['required'] &&
                      addcat.controls.categoryname.touched
                    ">
                  category name is required.
                </div>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <div class="col-10 text-center">
                <div class="row justify-content-center">
                  <div class="col-4">
                    <button (click)="Addcat(categoryname.value)" routerLink="/store-dashboard/categories"
                      class="btn btn-success" type="submit" value="Save Item" [disabled]="!addcat.valid">ADD</button>
                  </div>
                  <div class="col-2">
                    <a routerLink="/store-dashboard/categories" class="btn btn-danger">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>