
<div class="container height">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- still not checkecd -->
        <!-- <div class="row"  *ngIf="!validStatus || validStatus">
          <div class="col-9 mt-5 p-5">
            <div class="row">
              <h1 class="hidding-offer">
               Your Order Will be Checked Soon Don't worry
              </h1>
            </div>
          </div>
          
        </div> -->
        <!-- approved row -->
        <div class="row" *ngIf="validStatus">
          <div class="col-6 mt-5 p-5">
            <div class="row">
              <h1 class="hidding-offer">
                Waahhoo Your Order is comingg soon
              </h1>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <img src="/assets/order.png" alt="" />
            </div>
          </div>
        </div>

        <!-- un approved row -->
        <div class="row" *ngIf="!validStatus">
            <div class="col-8 mt-5 p-3">
              <div class="row">
                <h1 class="hidding-offer">
                    We sorry To inform you that Your Order is Cancelled can hurt Your heart too

                </h1>
                <p>
                  You can see your competitors' restaurants until yours is accepted
                </p>
              </div>
              <div class="row mt-3">
                <button routerLink="/restaurants" class="btnn">
                  See Restuarants
                </button>
              </div>
              <div class="row mt-1">
  
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  