<div class="container-fluied bg-img">
  <div class="row bg-transp">
    <div class="col-12 col-lg-5">
      <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-lg-7">
          <form>
            <div class="mb-3">
              <label for="storename" class="form-label">Store name</label>
              <input
                type="text"
                placeholder="Enter Your Store Name"
                class="form-control"
                id="storename"
                aria-describedby="storenameHelp"
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Restaurant Address</label>
              <input
                type="text"
                placeholder="Enter Restaurant address"
                class="form-control"
                id="address"
                aria-describedby="addresssHelp"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Store Type </label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Restaurant</option>
                =
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                placeholder="Enter Your Email address"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text remain">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="Mobile" class="form-label">Mobile number</label>
              <input
                type="text"
                placeholder="+201XXXXXXXXX"
                class="form-control"
                id="Mobile"
                aria-describedby="MobileHelp"
              />
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="************"
                class="form-control"
                id="Password"
              />
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label"> Description </label>
              <textarea
                placeholder="Enter Description Here"
                class="form-control"
                id="Description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label text-white m-1" for="img"
                >Restaurant Image</label
              >
              <input type="file" class="form-control" id="img" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer">Choose You Favorite Restaurant!</h1>
          <form>
            <div class="mb-3">
              <label for="storename" class="form-label">Store name</label>
              <input
                type="text"
                placeholder="Enter Your Store Name"
                class="form-control"
                id="storename"
                aria-describedby="storenameHelp"
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Restaurant Address</label>
              <input
                type="text"
                placeholder="Enter Restaurant address"
                class="form-control"
                id="address"
                aria-describedby="addresssHelp"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Store Type </label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Restaurant</option>
                =
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                placeholder="Enter Your Email address"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text remain">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="Mobile" class="form-label">Mobile number</label>
              <input
                type="text"
                placeholder="+201XXXXXXXXX"
                class="form-control"
                id="Mobile"
                aria-describedby="MobileHelp"
              />
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="************"
                class="form-control"
                id="Password"
              />
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label"> Description </label>
              <textarea
                placeholder="Enter Description Here"
                class="form-control"
                id="Description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label text-white m-1" for="img"
                >Restaurant Image</label
              >
              <input type="file" class="form-control" id="img" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>




<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer">Choose You Favorite Restaurant!</h1>
          <form>
            <div class="mb-3">
              <label for="storename" class="form-label">Store name</label>
              <input
                type="text"
                placeholder="Enter Your Store Name"
                class="form-control"
                id="storename"
                aria-describedby="storenameHelp"
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Restaurant Address</label>
              <input
                type="text"
                placeholder="Enter Restaurant address"
                class="form-control"
                id="address"
                aria-describedby="addresssHelp"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Store Type </label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Restaurant</option>
                =
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                placeholder="Enter Your Email address"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text remain">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="Mobile" class="form-label">Mobile number</label>
              <input
                type="text"
                placeholder="+201XXXXXXXXX"
                class="form-control"
                id="Mobile"
                aria-describedby="MobileHelp"
              />
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="************"
                class="form-control"
                id="Password"
              />
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label"> Description </label>
              <textarea
                placeholder="Enter Description Here"
                class="form-control"
                id="Description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label text-white m-1" for="img"
                >Restaurant Image</label
              >
              <input type="file" class="form-control" id="img" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>



<div class="container-fluied bg-img">
  <div class="row">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
          <div class="col-lg-6"></div>
        <div class="col-lg-6 col-12 p-5 p-sm-5">
          <h1 class="hidding-offer">Choose You Favorite Restaurant!</h1>
          <form>
            <div class="mb-3">
              <label for="storename" class="form-label">Store name</label>
              <input
                type="text"
                placeholder="Enter Your Store Name"
                class="form-control"
                id="storename"
                aria-describedby="storenameHelp"
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Restaurant Address</label>
              <input
                type="text"
                placeholder="Enter Restaurant address"
                class="form-control"
                id="address"
                aria-describedby="addresssHelp"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Store Type </label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Restaurant</option>
                =
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                placeholder="Enter Your Email address"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text remain">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="Mobile" class="form-label">Mobile number</label>
              <input
                type="text"
                placeholder="+201XXXXXXXXX"
                class="form-control"
                id="Mobile"
                aria-describedby="MobileHelp"
              />
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="************"
                class="form-control"
                id="Password"
              />
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label"> Description </label>
              <textarea
                placeholder="Enter Description Here"
                class="form-control"
                id="Description"
              ></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label text-white m-1" for="img"
                >Restaurant Image</label
              >
              <input type="file" class="form-control" id="img" />
            </div>
            <a class="btnn">Register</a>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>