<div class="container-fluied bg-img">
  <div class="row">
    <div class="container justify-content-center mb-3">
      <div class="row container justify-content-center">
        <div class="col-lg-6 mt-5 mb-5 p-5">
          <h4 class="font p-5">
            Join Felivery, The Middle East's largest delivery platform.
          </h4>
        </div>
        <div class="col-lg-5 col-12 p-5 p-sm-5">
          <form [formGroup]="validRegCustomer">
            <div class="mb-3">
              <label for="username" class="form-label">User name</label>
              <input formControlName="username" type="text" placeholder="Enter any UserName You want"
                class="form-control" id="username" aria-describedby="usernameHelp" #username />

              <!-- Username validation errors -->
              <div *ngIf="validRegCustomer.controls.username.errors">
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.username.errors['minlength'] && validRegCustomer.controls.username.touched">
                  Username must be at least 8 characters.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.username.errors['maxlength'] && validRegCustomer.controls.username.touched">
                  Username can have at most 12 characters.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.username.errors['required'] && validRegCustomer.controls.username.touched">
                  Username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" placeholder="Enter Your Email address" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp" #email />

              <!-- Email validation errors -->
              <div *ngIf="validRegCustomer.controls.email.errors">
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.email.errors['email'] && validRegCustomer.controls.email.touched">
                  Please enter a valid email.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.email.errors['required'] && validRegCustomer.controls.email.touched">
                  Email is required.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.email.errors['emailTaken'] && validRegCustomer.controls.email.touched">
                  This email is already taken.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>



              <div class="input-group">
                <input #Rpassword formControlName="password" [type]="passwordVisible ? 'text' : 'password'"
                  placeholder="Must Be more Than 8 Characters" class="form-control" id="Password" #password />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()"
                    title="{{ passwordVisible ? 'Hide' : 'Show' }}">
                    <fa-icon [icon]="passwordVisible ? eyeSlash : eye"></fa-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="Mobile" class="form-label">Mobile number</label>
              <input formControlName="mobile" type="text" placeholder="+201XXXXXXXXX" class="form-control" id="Mobile"
                aria-describedby="MobileHelp" #mobile />

              <!-- Mobile validation errors -->
              <div *ngIf="validRegCustomer.controls.mobile.errors">
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.mobile.errors['required'] && validRegCustomer.controls.mobile.touched">
                  Mobile is required.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.mobile.errors['pattern'] && validRegCustomer.controls.mobile.touched">
                  Please enter a valid mobile number.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input formControlName="address" type="text" placeholder="Enter Your address" class="form-control"
                id="address" aria-describedby="addresssHelp" #address />

              <!-- Address validation errors -->
              <div *ngIf="validRegCustomer.controls.address.errors">
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.address.errors['maxlength'] && validRegCustomer.controls.address.touched">
                  Address can have at most 12 characters.
                </div>
                <div class="validateerrorstyle"
                  *ngIf="validRegCustomer.controls.address.errors['required'] && validRegCustomer.controls.address.touched">
                  Address is required.
                </div>
              </div>
            </div>

            <input type="submit" value="Register" class="btnn"
              (click)="AdduserCustomer(username.value, email.value, password.value, mobile.value, address.value)" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>