<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center mt-2 mb-2 ml-5">
        <div class="col-lg-8 col-12 m-3">
          <div class="row mt-5 bg-order">
            <div class="col-md-5 col-12 p-5">
              <div class="row">
                <h1 class="text-capitalize fontheader">
                  Special Meal is here <i class="fa-solid fa-burger"></i>
                </h1>
                <p class="ff">Description</p>
                <p class="ff">Category: Burgers</p>

                <p class="ff">Price : 180$</p>
              </div>
              <div class="row mt-3">
                <input type="button" value="Order" class="btnn" />
              </div>

              <div class="row mt-2 icons ml-4">
                <div class="col-3">
                  <i class="fa-brands fa-facebook ml-1"></i>
                </div>
                <div class="col-3">
                  <i class="fa-brands fa-instagram ml-1"></i>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-12">
              <div class="row m-4">
                <div class="col-12">
                  <img src="../../../assets/Burger.jpg" class="img-order" />
                </div>
              </div>
              <div class="row justify-content-center">
                <a
                  (click)="toggleVisibility()"
                  id="details-btn"
                  class="d-none d-lg-block"
                  >Show Restaurants Details
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>

              <div class="row mt-2 container">
                <div class="col-1 margin-arrow">
                  <a
                    class="btn mb-3"
                    href="#carouselExampleIndicators2"
                    role="button"
                    data-slide="next"
                  >
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </div>
                <div class="col-11">
                  <div
                    id="carouselExampleIndicators2"
                    class="carousel slide"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Burger.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Healthy.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Pizza.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Healthy.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>

                               
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Pizza.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>

                               
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="offer-cards mt-1">
                              <div class="row">
                                <div class="col-12 text-center">
                                  <img
                                    src="../../../assets/Burger.jpg"
                                    class="imgoffer"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <h1 class="ff pt-3 pl-2 pr-2">
                                    Special meal is here Sandwich
                                  </h1>
                                </div>
                              </div>

                              <div
                                class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                              >
                                <div class="col-5">
                                  <h3>100$</h3>
                                </div>
                                <div class="col-6">
                                  <h6 class="tx">128$</h6>
                                </div>

                               
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-12 mt-2">
                                  <a href="" class="btnn hvr-bounce-in"
                                    >Order</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12 m-3" [hidden]="isHidden">
          <div class="row mt-5 bg-order">
            <div class="col-12">
              <div class="row p-5">
                <h3 class="fontheader">Restuarant Name</h3>
                <img
                  src="../../../assets/rr.jpeg"
                  class="w-100 h-100"
                  alt=""
                  srcset=""
                />
                <p>
                  Description About Restaurant Description About
                  RestaurantDescription About RestaurantDescription About
                  RestaurantDescription About RestaurantDescription About
                </p>

                <a
                  routerLink="/restaurants"
                  role="button"
                  value="View All Restuarants"
                  class="btnn"
                >
                  View All Restuarants
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
