<div class="container-fluied bg-img mb-3 font">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row heightt justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <div class="row mt-3">
            <h1 class="hidding-offer">Special Meal is Here</h1>
          <p class="ff">
            Special offers from diffrent restaurants please feel free To
            order anything you want
          </p>
          </div>
          
          <div class="row mt-5">
            <p>Take a look at all restaurants</p>
          <a class="btnn btn hvr-bounce-in" routerLink="/restaurants">View Restaurants</a>
          </div>
          <!-- <a  (click)="scrollToTargetComponent()" class="btnn btn hvr-bounce-in"
            >View Offers Menu</a
          > -->
        </div>
        <div class="col-lg-4 col-12 mt-2">
          <div class="row mt-5">
            <!-- one -->
            <!-- <div class="col-lg-3 col-md-6">
              <div class="offer-cards mt-1">
                <div class="row">
                  <div class="col-12 text-center">
                    <img
                      src="../../../assets/Burger.jpg"
                      class="imgoffer"
                      alt=""
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <h1 class="ff pt-3 pl-2 pr-2">
                      Special meal is here Sandwich
                    </h1>
                    <p class="pl-3 pr-3">speacial meal compononets bla bla</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 bg-contain-stars micons">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                  </div>
                  <div class="col-3">3/5</div>
                </div>
                <div
                  class="row justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3"
                >
                  <div class="col-3">
                    <h3>100$</h3>
                  </div>
                  <div class="col-3">
                    <h6 class="tx">128$</h6>
                  </div>

                  <div class="col-2 mt-2">
                    <a href="" class="btnn hvr-bounce-in" routerLink="/order"
                      >Order</a
                    >
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
