<div >
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" #carousel>
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Burger.jpg" class="d-block w-100 " alt="Slide 1">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1>Hungry?</h1>
        <p>Just Order!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Healthy.jpg" class="d-block w-100" alt="Slide 2">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1>Delicious Food is Waiting For You</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Pizza.jpg" class="d-block w-100" alt="Slide 3">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1>Best Offers Here</h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>