<section class="how-it-works">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6">
                <div class="step">
                    <div class="step-icon">
                        <fa-icon [icon]="icon1" ></fa-icon>
                    </div>
                    <h3>Select offer</h3>
                    <p>Choose between different offers and restaurants</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="step">
                    <div class="step-icon">
                        <fa-icon [icon]="icon2"></fa-icon>
                    </div>
                    <h3>Order</h3>
                    <p>Order your favourite meal now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="step">
                    <div class="step-icon">
                        <!-- Add this to your component's HTML template -->
                        <fa-icon [icon]="['fas', 'motorcycle']"></fa-icon>
                    </div>
                    <h3>Receive your Order</h3>
                    <p>Faster than the fastest delivery</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <video autoplay muted loop>
    <source src="../../../assets/Akelny Logo animation.mp4">
</video> -->