.how-it-works {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  text-align: center;
}

.step-icon {
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #E5491B;
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #777777;
  color: #E5491B;

}
fa-icon{
font-size: 50px;
}  

/* section */
.section{
  width: 100%;
  height: auto;
}

.section section{
  width: 1100px;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.section section .items{
  width: 250px;
  height: auto;
  text-align: center;
}

.section .icono{
  margin-top: 24px;
  font-size: 150px;
  color: rgb(1, 1, 37)
}

.section section .items h2 {
  margin-top: 24px;
}

.section section .items .design {
  text-decoration: none;
  color:  rgb(50, 177, 205);
}