<h1 style="color: white; text-align: center; margin: 20px;">How to Use Felivery</h1>
<section class="how-it-works">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-4 col-md-6">
                <div class="step">
                    <div class="step-icon">
                        <fa-icon [icon]="icon1"></fa-icon>
                    </div>
                    <h3>Select offer</h3>
                    <p>Choose between different offers and restaurants</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="step">
                    <div class="step-icon">
                        <fa-icon [icon]="icon2"></fa-icon>
                    </div>
                    <h3>Order</h3>
                    <p>Order your favourite meal now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="step">
                    <div class="step-icon">
                        <fa-icon [icon]="['fas', 'motorcycle']"></fa-icon>
                    </div>
                    <h3>Receive your Order</h3>
                    <p>Faster than the fastest delivery</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-two">

    <section>
        <div class="container-of-items1">
            <h1 style="color: white; text-align: center; margin: 20px;">Welcome Now You gonna know who we are</h1>
        </div>
        <div class="container-of-items2">

            <div class="items">
                <div class="text-center">
                    <img style="margin: 15px;" src="assets/Team2.png" alt="pic" />
                </div>
                <h3 style="color: white; text-align: center; margin: 20px;">
                    Our team is driven by a shared passion for great food and creating a
                    friendly and reliable platform for both customers and restaurants. We
                    strive to provide a seamless and enjoyable experience, connecting fo
                </h3>
            </div>

            <div class="items">
                <div class="text-center">
                    <img style="margin: 15px;" src="assets/Team1.png" alt="pic" />
                </div>
                <h3 style="color: white; text-align: center; margin: 20px;">
                    Our Team is responsible for maintaining high-quality standards on our
                    platform. She works closely with restaurants to ensure their
                    compliance with health and safety regulations, as well as monitoring
                    customer feedback to guarantee a consistently excellent dining
                    experience.
                </h3>
            </div>
        </div>
    </section>
</div>