.imgoffer {
  width: 100%;
  /* height: 180px; */
}
.tx {
  text-decoration: line-through;
}
.ff {
  font-size: 25px;
}
.bg-contain-stars {
  border: 1px solid rgb(206, 205, 202);
  width: 100%;
  border-radius: 15px;
  text-align: center;
  color: rgb(231, 152, 5);
  box-shadow: inset;
}
.btnn {
  background-color: rgb(233, 107, 34);
  color: rgb(251, 250, 247);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 10px 15px 10px 15px;
  border: 1px solid white;
  text-decoration: none;
}
.offer-cards {
  border: 1px solid rgb(232, 151, 1);
  width: 400px;
  background-color: rgb(245, 228, 213);
}

.btnn:hover {
  background-color: rgb(58, 24, 5);
  color: rgb(251, 250, 247);
  text-decoration: none;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  padding: 10px 15px 10px 15px;
  border: 1px solid rgb(125, 33, 33);
}

.bg-trans {
  backdrop-filter: blur(20px) saturate(105%);
  -webkit-backdrop-filter: blur(20px) saturate(105%);
  background-color: rgba(255, 255, 255, 0.42);
  border: 1px solid rgba(249, 249, 249, 0.3);
  margin: 0;
}
.bg-offer-transpar{
  backdrop-filter: blur(20px) saturate(105%);
  -webkit-backdrop-filter: blur(20px) saturate(105%);
  background-color: rgba(255, 255, 255, 0.42);
  border: 1px solid rgba(249, 249, 249, 0.3);
  margin: 0;
}
.micons{
  margin: auto;
  width: 150px;
}
.offer-card{
  margin-top: 100px;
  width: 150px;
  height: auto;
  border: 1px solid rgb(232, 151, 1);

  background-color: rgb(245, 228, 213);
}
