<div class="container-fluid mt-5">
  <div class="row">
    <!-- Earnings Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Total Earnings
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">${{totalEarn}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Delivered orders Card -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Deliverd Orders
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    {{Deliverd}}%
                  </div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2" role="progressbar"
                  [attr.aria-valuenow]="roundedPercentage" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-info"
                    [style.width.%]="roundedPercentage" 
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Pending Orders
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{pendingOrders}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- orders by rest id -->
  <div class="row">
    <div class="col-lg-5 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Restuarant Details</h6>
        </div>
        <div class="card-body">
          <p>
            Restuarant Name : {{restuDetails.name}} ,
             Restuarant Description : {{restuDetails.description}},
            Address: {{restuDetails.address}}
          
          </p>
        </div>
      </div>

    </div>
    <div class="col-xl-6 col-md-6 mb-4">
      <table class="table">
        <thead>
          <tr>
            <th>Order Number</th>
            <!-- <th>Order Name</th> -->
            <th>Address</th>
            <th>Total Price</th>
            <th>Customer ID</th>

            <th class="m-1">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders">
            <td>{{o.id}}</td>
            <!-- <td>{{o.details[o.name]}}</td> -->
            <td >{{o.address}}</td>
            <td>{{o.totalPrice}}$</td>
            <td>{{o.customerID}}</td>

            <td>
             <button class="btn btn-success" (click)="aproveOrderstatus(o.id)">
              <i class="fa-solid fa-check" style="color: #00040a;"></i>
             </button>

             <button  class="btn btn-danger m-1" (click)="cancelOrderstatus(o.id)">
              <i class="fa-solid fa-xmark" style="color: #02060d;"></i>
             </button>
             <!-- <button  class="btn btn-success m-1">
              Deliverd
             </button> -->
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>

   <!-- cancelled orders -->

   <div class="row justify-content-center">
    <div class="col-xl-10 col-md-8 mb-4">
      <h3>Canclled Orders</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Address</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bo of backupdatacheckout.details">
            <td>{{ bo.menuItemID }}</td>
            <td>{{ backupdatacheckout.customerID}}</td>
            <td>{{ backupdatacheckout.customerID.name }}</td>
            <td>{{ bo.quantity }}</td>
            <td>{{ backupdatacheckout.totalPrice }}</td>
            <td>{{ backupdatacheckout.address }}</td>

          </tr>
        </tbody>
<!-- <p>Total Price: {{ backupdatacheckout.totalPrice }}</p>
<p>Address: {{ backupdatacheckout.address }}</p>
<p>Backup Order Details:</p>
<ul>
  <li *ngFor="let bo of backupdatacheckout.details">
    <p>Menu Item ID: {{ bo.menuItemID }}</p>
    <p>Quantity: {{ bo.quantity }}</p>
    <p>Price: {{ bo.price }}</p>
  </li>
</ul>
<p>Restaurant ID: {{ backupdatacheckout.restaurantID }}</p>
<p>Customer ID: {{ backupdatacheckout.customerID }}</p> -->

        <!-- <tbody>
          <tr *ngFor="let bo of backupdatacheckout">
            <td>{{bo.id}}</td>
          <td>{{o.details[o.name]}}</td>
            <td >{{bo.address}}</td>
            <td>{{bo.totalPrice}}$</td>
            <td>{{bo.customerID}}</td>

          </tr>
          
        </tbody> -->
      </table>
    </div>
  </div>


</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-12">
      <div class="container-fluied">
        <div class="row justify-content-center">
          <hr>
          <h2 class="diplay-1">Category List</h2>
          <hr>
          
            
  <div class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div *ngFor="let c of categories" class="row" class="col d-flex justify-content-center">
            <div class="offer-cards pb-5">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/Burger.jpg" alt="Image" class="imgoffer" />
                </div>
              </div>
              <div class="row justify-content-center h-hidding">
                <div class="col-12 text-center">
                  <h1 class="ff pt-3 pl-2 pr-2">
                    {{ c.name }}
        
                  </h1>
                  <div class="row justify-content-center">
                    {{ c.description}}
  
                  </div>
                  <div class="row justify-content-center">
                    <!-- {{ i.price }} -->
  
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </div>
        </div>
        <hr />

        <div class="row justify-content-center">
          <h2 class="diplay-1">Items List</h2>
          <hr>

         
     
  <div class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div *ngFor="let i of items" class="row" class="col d-flex justify-content-center">
            <div class="offer-cards pb-5">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/Burger.jpg" alt="Image" class="imgoffer" />
                </div>
              </div>
              <div class="row justify-content-center h-hidding">
                <div class="col-12 text-center">
                  <h1 class="ff pt-3 pl-2 pr-2">
                    {{ i.name }}
        
                  </h1>
                  <div class="row justify-content-center">
                    {{ i.category.name}}
  
                  </div>
                  <div class="row justify-content-center">
                    {{ i.price }}
  
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </div>
        </div>
        <hr />
        <!-- <div class="row justify-content-center">
          <h2 class="diplay-1">Offers List</h2>

        </div> -->
      </div>
    </div>
  </div>
</div>
