<div class="container-fluied bg-img mb-3 font">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-12 p-5">
          <h1 class="hidding-offer">Choose your favourite Restaurant!</h1>
          <p class="font">ABS Are cool But have you tried Our Restaurants Food?</p>
          <!-- Search -->
          <div class="input-group rounded">
            <input type="search" (keyup)="search()" type="text" [(ngModel)]="searchText" (input)="updateFilteredItems()"
              class="form-control rounded" placeholder="Search On Specfic Restaurant" />
            <span (click)="search()">
              <i class="fa-solid fa-magnifying-glass mt-2 ml-1" style="cursor: pointer;font-size: 20px;"></i>
            </span>
          </div>

          <div *ngIf="exactMatch" class="mt-2">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-4">
                  <div class="offer-cards">
                    <div class="row justify-content-center">
                      <div class="col-12 text-center">
                        <img src={{exactMatch.storeImg}} alt="Image" class="imgoffer" />
                      </div>
                    </div>
                    <div class="row justify-content-center h-hidding">
                      <div class="col-12 text-center">
                        <h1 class="ff pt-3 pl-2 pr-2">
                          {{exactMatch.name}}
                        </h1>
                      </div>
                    </div>

                    <div class="row justify-content-center h-desc">
                      <div class="col-12 text-center">
                        <p class="pl-3 pr-3">{{exactMatch.description}}</p>

                      </div>
                    </div>

                    <div class="row h-btn justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3 mb-2">

                      <div class="col-4 bg-btn mt-2">

                        <a [routerLink]="['/restauindivual',exactMatch.id]" class="btnn hvr-bounce-in">Go To
                          Restaurant</a>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="notmatch">
            <div class="row justify-content-center">
              <div class="col-6 text-center">
                <p class="hidding-offer text-danger">
                  There is No Restaurant With that Name here :(</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div *ngFor="let Restaurant of Restaurants | paginate: {
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count}; let i = index" class="col d-flex justify-content-center">
      <div class="offer-cards">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <img [src]="Restaurant.storeImg || 'assets/Burger.jpg'" alt="Image" class="imgoffer" />

          </div>
        </div>
        <div class="row justify-content-center h-hidding">
          <div class="col-12 text-center">
            <h1 class="ff pt-3 pl-2 pr-2">
              {{Restaurant.name}}
            </h1>
          </div>
        </div>

        <div class="row justify-content-center h-desc">
          <div class="col-12 text-center ellipsis">
            <p>{{Restaurant.description}}</p>
          </div>
        </div>

        <div class="row justify-content-center h-rate">
          <div class="col-3 bg-contain-stars micons">
            <ngb-rating [max]="5" [rate]="Restaurant.totalRatings/Restaurant.numOfRaters"
              [readonly]="true"></ngb-rating>
          </div>
        </div>
        <div class="row h-btn justify-content-center mt-2 mr-1 mb-1 pl-3 pr-3 mb-2">

          <div class="col-4 bg-btn mt-2">

            <a [routerLink]="['/restauindivual',Restaurant.id]" class="btnn hvr-bounce-in">Go To Restaurant</a>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4 clr">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>