.ellipsis {
    width: 16rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

.card {
transition: transform 0.5s;
}

.card:hover {
transform: scale(1.15);
}