
<div class="container-fluied bg-img">
  <div class="row">
    <div class="container justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white">Welcome Again Hungry Man!</h1>
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">User Name</label>
              <input
                type="text"
                placeholder="Enter Your Store Name"
                class="form-control"
                id="username"
                aria-describedby="username"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                placeholder="Enter Your Email address"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text remain">
                We'll never share your email with anyone else.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="************"
                class="form-control"
                id="Password"
              />
            </div>
           
            <a class="btnn">Login</a>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>