<div class="row mt-4 mb-4">
  <h3 class="hidding-offer" style="color:aliceblue">Categories In Restaurants</h3>
</div>
<hr class="style-line">
<div class="container mb-5">
<div
  class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3"
>
<div class="card stylecard">
  <a (click)="toggleSection()" style="cursor: pointer;">
    <i class="fa-regular fa-square-plus" style="color: #51331f;"></i>
  </a>
</div>

<div *ngIf="showSection">
  <div class="card stylecard">
    <form (ngSubmit)="addCategory()">
      <input type="text" name="categoryName" [(ngModel)]="categoryName" placeholder="Category Name">
      <button type="submit">Add</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>


  <div
    *ngFor="let category of categories"
    class="col d-flex justify-content-center"
  >

    <div class="offer-cards pb-5">
      <div class="row justify-content-center h-hidding">
        <div class="col-12 text-center">
          <h1 class="ff pt-3 pl-2 pr-2">
            Category Name : {{ category.name }}

          </h1>
        </div>
      </div>

      <!-- buttons crud operations -->
      <div class="row justify-content-center h-desc buttons mb-5">
        <div class="col-12 text-center">
          <div class="row justify-content-center">
            <div class="col-8">
              <a  class="bu" routerLink="/store-dashboard/showitemsbyid/{{category.id}}">Show Menu Items</a>

            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-8 text-center">
              
              <a  class="bu" [routerLink]="['/store-dashboard/updatecategory',category.id]" >Update Category</a>
            </div>
            </div>
            <div class="row justify-content-center mt-4">
  
              <div class="col-8 text-center">
                <a  routerLink="/store-dashboard/delete-items/{{category.id}}" (click)="deleteItem(category.id)" class="bu" >delete</a>
                
              </div>
            </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
</div>
