<div class="container-fluied mt-2 mb-2 bg-img">
  <div class="row bg-trans">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3>Are you sure you want to delete your store?</h3>

          <img src="/assets/rr.jpeg" class="w-50 h-75" />
        </div>
      </div>

      <div class="row justify-content-center mb-3">
        <div class="col-10 text-center">
          <div class="row container justify-content-center">
            <div class="col-5">
              <h3>Restaurant Name :</h3>
            </div>
            <div class="col-3">
              <p>{{Rname}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center mt-3 mb-3">
        <div class="col-9 text-center">
          <div class="row container justify-content-center">
            <div class="col-3">
              <a routerLink="/store-dashboard/storesetting" class="btn btn-dark">Cancel</a>
            </div>
            <div class="col-3">
              <a class="nav-link" class="btn btn-danger " routerLink="/store-dashboard/delete-store"
                (click)="deleteR()">delete store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>