<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container-fluied justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white text-center">Update Store</h1>
          <form>
            <div class="mb-3">
              <div class="uploadimg mt-5">
                <img src="../../../assets/rr.jpeg" class="w-100" />
                <div class="add">
                  <input type="file" />
                  <i class="fa fa-camera"></i>
                </div>
              </div>
              <label for="name" class="form-label">Change Photo</label>
            </div>

            <div class="mb-3">
              <label for="storename" class="form-label">Store Name</label>
              <input
                id="storename"
                type="text"
                placeholder="Enter Storename"
                class="form-control"
                aria-describedby="storename"
              />
            </div>

            <div class="mb-3">
              <label for="discription" class="form-label">Discription</label>
              <input
                type="text"
                placeholder="Enter discription"
                class="form-control"
                id="discription"
                aria-describedby="discription"
              />
            </div>

            <div class="mb-3">
              <label for="Email" class="form-label">Email</label>
              <input
                type="email"
                placeholder="Enter Email"
                class="form-control"
                id="email"
                aria-describedby="Email"
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                placeholder="EnterPassword"
                class="form-control"
                id="password"
                aria-describedby="Password"
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                placeholder="Enter Address"
                class="form-control"
                id="address"
                aria-describedby="Address"
              />
            </div>
            <div class="mb-3">
              
              
              <label for="mobileNumber" class="form-label">Mobile Number</label>
              <input
                type="text"
                placeholder="Enter Mobile Number"
                class="form-control"
                id="mobileNumber"
                aria-describedby="MobileNumber"
              />
            </div>

            <div class="mb-3 row justify-content-center">
              <div class="col-4">
                <a routerLink="/store-dashboard/" class="btn btn-danger"
                  >Save Item</a
                >
              </div>
              <div class="col-2">
                <a
                  routerLink="/store-dashboard/storesetting"
                  class="btn btn-dark"
                  >Cancel</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
