<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container-fluied justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white text-center">Update Store</h1>
          <form [formGroup]="validUpdatestore" (ngSubmit)="update( Rmobile, Rname, Raddress, Rdis)">

            <div class="mb-3">
              <label for="storename" class="form-label">Store Name</label>
              <input
                #Rname
                formControlName="username"
                id="storename"
                type="text"
                placeholder="Enter Storename"
                class="form-control"
                aria-describedby="storename"
                [value]="restaurantData?.name"
              />
            
              <div *ngIf="validUpdatestore.controls.username.errors">
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.username.errors['minlength'] && validUpdatestore.controls.username.touched">
                  Username must be at least 8 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.username.errors['maxlength'] && validUpdatestore.controls.username.touched">
                  Username can have at most 12 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.username.errors['required'] && validUpdatestore.controls.username.touched">
                  Username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="discription" class="form-label">Description</label>
              <input
                #Rdis
                formControlName="desc"
                type="text"
                placeholder="Enter description"
                class="form-control"
                id="description"
                aria-describedby="description"
                [value]="restaurantData?.description"
              />
              <div *ngIf="validUpdatestore.controls.desc.errors">
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.desc.errors['min'] && validUpdatestore.controls.desc.touched">
                  Description must have at least 10 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.desc.errors['required'] && validUpdatestore.controls.desc.touched">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input
                #Raddress
                type="text"
                formControlName="address"
                placeholder="Enter Address"
                class="form-control"
                id="address"
                aria-describedby="address"
                [value]="restaurantData?.address"
              />
              <div *ngIf="validUpdatestore.controls.address.errors">
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.address.errors['maxlength'] && validUpdatestore.controls.address.touched">
                  Address can have at most 12 characters.
                </div>
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.address.errors['required'] && validUpdatestore.controls.address.touched">
                  Address is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input
                #Rmobile
                type="text"
                formControlName="mobile"
                placeholder="Enter Mobile Number"
                class="form-control"
                id="mobile"
                aria-describedby="mobile"
                [value]="restaurantData?.mobileNumber"
              />
              <div *ngIf="validUpdatestore.controls.mobile.errors">
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.mobile.errors['pattern'] && validUpdatestore.controls.mobile.touched">
                  Invalid mobile number format.
                </div>
                <div class="validateerrorstyle" *ngIf="validUpdatestore.controls.mobile.errors['required'] && validUpdatestore.controls.mobile.touched">
                  Mobile number is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="uploadimg">
                <!-- <img [src]="restaurantData.storeImg || 'assets/Burger.jpg'" class="w-100" /> -->
                <label for="name" class="form-label">Change Photo</label>
                <div class="add">
                  <!-- <input type="file" /> -->
                  <i routerLink="/store-dashboard/storeImg" class="fa fa-camera"></i>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit" >Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
