<div class="container height">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!-- Unapproved div -->
      <div class="row">
        <div class="col-8 mt-5 p-3">
          <div class="row">
            <h1 class="hidding-offer" style="color:aliceblue">
              Your order is cancelled and this may break your heart ..
              <!-- We're sorry to inform you that your order is cancelled. It can hurt your heart too. -->
            </h1>
            <h3 style="color:aliceblue">Break their hearts if you want or be kind :] </h3>
          </div>
          <div class="row mt-3">
            <button (click)="toggleVisibility()" class="btnn">
              Leave a Feedback
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="col-12">
    <div class="row mt-2 justify-content-center" [hidden]="isHidden">
      <div class="col-8">
        <div class="row justify-content-center">
          <form action="">
            <div class="row">
              <div class="col-3">
                <label for="username"  class="form-label">Username</label>
              </div>
              <div class="col-9">
                <input
                  #usrname
                  formControlName="username"
                  id="username"
                  type="text"
                  placeholder="Enter Your Store Name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row">
              <label for=""  class="form-label">Feedback</label>
              <textarea name="" id=""
              #feedback
              class="form-control"
              placeholder="Leave your feedback"
            
              cols="30" rows="10" ></textarea>
            </div>
            <div class="row">
              <div class="col-6">
                <!-- <button>Send Feedback</button> -->
            <button (click)="addFeedback(usrname.value ,feedback.value)" type="submit" class="btn btn-dark">Send Feedback</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
