
<!-- new responsive side bar -->
<nav class="navbar navbar-expand d-flex flex-column align-item-start
" id="sidbarnav">
<a class="navbar-brand " routerLink="/"> Felievery</a>

<ul class="navbar-nav pt-5 d-flex flex-column w-100 text-center">



    <li class="nav-item" [class.active]="isActive('storehome')">
      <a class="nav-link" routerLink="/storestorehome-dashboard/" (click)="setActive('storehome')">
        <i class="fa-solid fa-house" ></i>
      <span>Home</span>
      </a>
    </li>
  
    <li class="nav-item" [class.active]="isActive('menuitems')"> 
      <a class="nav-link" routerLink="/store-dashboard/menuitems" (click)="setActive('menuitems')">
        <i class="fa-solid fa-bowl-food "></i>
        <span>Menu Items</span> 
      </a>
    </li>
  
    <li class="nav-item" [class.active]="isActive('categories')">
      <a class="nav-link" routerLink="/store-dashboard/categories" (click)="setActive('categories')">
        <i class="fa-solid fa-truck"></i>
        <span>Categories</span>
      </a>
    </li>
  
    <li class="nav-item" [class.active]="isActive('storeoffers')"> 
      <a class="nav-link" routerLink="/store-dashboard/storeoffers" (click)="setActive('storeoffers')">
        <i class="fa-solid fa-tag"></i>
        <span>Offers</span>
      </a>
    </li>

    <li class="nav-item" [class.active]="isActive('storesetting')">
      <a class="nav-link" routerLink="/store-dashboard/storesetting" (click)="setActive('storesetting')">
        <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
        <span>settings</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link margin-buttom" routerLink="/logout">
        <i class="fa-solid fa-person-walking-arrow-right"></i>
    <span>LogOut</span>
      </a>
    </li>
  

</ul>
</nav>
