<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container-fluied justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white">Update Item Data</h1>
          <form [formGroup]="edititem">

          <!-- <form [formGroup]="edititem" (ngSubmit)="editItem(itemname.value,category.value,price.value,rest.value)"> -->
            <div class="mb-3">
              <label for="name" class="form-label">Item Name</label>
              <input
              #itemname
                formControlName="itemname"
                type="text"
                placeholder="Enter Item Name"
                class="form-control"
                id="name"
                aria-describedby="name"
              />
              <div *ngIf="edititem.controls.itemname.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['minlength'] &&
                    edititem.controls.itemname.touched">
                  Item Name must be at least 5 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['maxlength'] &&
                    edititem.controls.itemname.touched">Item Name can have at most 50 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['required'] &&
                    edititem.controls.itemname.touched
                  ">
                  Item Name is required.
                </div>
              </div>
            </div>
      
            <div class="mb-3">
              <label for="categoryID" class="control-label" > Category </label>
              <select
                #categoryname
                id="categoryID"
                formControlName="category"
                [(ngModel)]="selectedCategoryId"
                (ngModelChange)="setSelectedCategory()"
                class="form-control">
                <option value="">Select a Category</option>
                <option *ngFor="let c of cats" [value]="c.id">{{ c.name }}</option>
              </select>

              <div *ngIf="edititem.controls.category.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.category.errors['required'] &&
                    edititem.controls.category.touched">
                  Please select a country.
                </div>
              </div>
            </div>
            

            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
              #price
                formControlName="price"
                type="text"
                placeholder="Enter Price"
                class="form-control"
                id="price"/>
              <div *ngIf="edititem.controls.price.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.price.errors['required'] &&
                    edititem.controls.price.touched">
                  price is required.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.price.errors['pattern'] &&
                    edititem.controls.price.touched">
                  Please enter a valid price number.
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="col-lg-6 p-5">
          <div class="mb-3">
            <div class="uploadimg">
              <img src="../../../assets/Pizza.jpg" class="w-100" />
              <div class="add">
                <input type="file" />
                <i class="fa fa-camera"></i>
              </div>
            </div>
            <label for="imgitem" class="form-label">Upload Item picture</label>
            <input type="file" id="imgitem" formControlName="itemImg" />
          </div>

          <div class="row justify-content-center mt-5">
            <div class="col-10 text-center">
              <div class="row justify-content-center">
                <div class="col-4">
                  <input
                  (click)="editItem(itemname.value,price.value)"
                    routerLink="/store-dashboard/menuitems"
                    class="btn btn-danger"
                    type="submit"
                    value="Save Item"
                    [disabled]="!edititem.valid"
                  />
                </div>
                <div class="col-2">
                  <a
                    routerLink="/store-dashboard/menuitems"
                    class="btn btn-dark"
                    >Cancel</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
