<div class="container-fluid bg-img">
  <div class="row bg-trans">
    <div class="container justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 p-5">
          <h1 class="hidding-offer text-white">Update Item Data</h1>
          <form [formGroup]="edititem">
            <div class="mb-3">
              <label for="name" class="form-label">Item Name</label>
              <input
              #itemname
                formControlName=""
                type="text"
                value={{item.name}}
                class="form-control"
                id="name"
                aria-describedby="name"
                [value]="item.name"
              />
           
              <div *ngIf="edititem.controls.itemname.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['minlength'] &&
                    edititem.controls.itemname.touched">
                  Item Name must be at least 5 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['maxlength'] &&
                    edititem.controls.itemname.touched">Item Name can have at most 50 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.itemname.errors['required'] &&
                    edititem.controls.itemname.touched
                  ">
                  Item Name is required.
                </div>
              </div>
            </div>
      
            <div class="mb-3">
              <label for="categoryID" class="control-label" > Category </label>
              <select
                #categoryname
                id="categoryID"
                formControlName="category"
                value ={{item.id}}
                [(ngModel)]="selectedCategoryId"
                (ngModelChange)="setSelectedCategory()"
                class="form-control">
                <option value="">Select a Category</option>
                <option *ngFor="let c of cats" [value]="c.id">{{ c.name }}</option>
              </select>

              <div *ngIf="edititem.controls.category.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.category.errors['required'] &&
                    edititem.controls.category.touched">
                  Please select a Category.
                </div>
              </div>
            </div>
            

            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
              #price
                formControlName=""
                type="text"
                value="{{item.price}}"
                placeholder="Enter Price"
                class="form-control"
                id="price"/>

              <div *ngIf="edititem.controls.price.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.price.errors['required'] &&
                    edititem.controls.price.touched">
                  price is required.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                    edititem.controls.price.errors['pattern'] &&
                    edititem.controls.price.touched">
                  Please enter a valid price number.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="add text-center">
                Upload Image
                <input type="file" (change)="onUpload($event)" style="display: none" id="fileInput" />
                <label for="fileInput" class="fa fa-camera" style="font-size: 60px;"></label>
              </div>
            </div>

            <button
              routerLink="/store-dashboard/menuitems"
              class="btn btn-success m-3 w-50"
              type="submit"
              (click)="editItem(itemname.value, price.value)"
                  >
              Save
            </button>

            <a routerLink="/store-dashboard/menuitems" class="btn btn-danger m-3 w-25">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>