.mb-3,.remain{
    color: white;
}
.hidding-offer{
    font-family: 'Abril Fatface', serif;
    font-size: 50px;  
}
  .font{
    font-family: 'Libre Baskerville', serif;
}
  .bg-img {
    background-image: url("../../../../assets/Pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
  .bg-trans {
    backdrop-filter: blur(20px) saturate(105%);
    -webkit-backdrop-filter: blur(20px) saturate(105%);
    background-color: rgba(255, 255, 255, 0.42);
    border: 1px solid rgba(249, 249, 249, 0.3);
  }
  .btnn {
    background-color: rgb(233, 107, 34);
    color: rgb(251, 250, 247);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 7px 12px 7px 12px;
    border: 1px solid white;
    text-decoration: none;
  }
  
  .btnn:hover {
    background-color: rgb(58, 24, 5);
    color: rgb(251, 250, 247);
    text-decoration: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 7px 12px 7px 12px;
    border: 1px solid rgb(125, 33, 33);
  }
  
  .uploadimg{
    width: 400px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    text-align: center;
  }
  .uploadimg img{
    border-radius: 10px;
  }
  .uploadimg .add{
    color: rgb(241, 239, 239);
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
  }
  
  .uploadimg .add input[type='file']{
    position: absolute;
    opacity: 0;
  }
  
  input[type='file']::-webkit-file-upload-button{
  cursor: pointer;
  }

  .validateerrorstyle{
    color: rgb(175, 15, 15); backdrop-filter: blur(20px) saturate(105%);
    -webkit-backdrop-filter: blur(20px) saturate(105%);
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    padding: 4px;
    font-style: oblique;
}