body{
    /* background-color: #F19347; */
    overflow-x: hidden;
}
.hi{
    /* background-color: #000000 !important; */
    background-image: url('assets/—Pngtree—cartoon black food poster background_1035986.jpg') !important
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(248, 99, 6);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dd2d05;
}
@import "node_modules/bootstrap-icons/font/bootstrap-icons";
@import "node_modules/bootstrap/dist/css/bootstrap.css"
