
<div class="container height">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Approved div -->
        <div class="row" >
          <div class="col-6 mt-5 p-5">
            <div class="row">
              <h1 class="hidding-offer" style="color:aliceblue">
                Waahhoo Your Order is coming soon
              </h1>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <img src="/assets/order.png" alt="" />
            </div>
          </div>
        </div>
      
   
      </div>
    </div>
  </div>
  